
/* font imported from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Applying Azeret font to all the elements*/
body {
    font-family: "Azeret Mono", monospace;
}

/* header section starts here */
.banner {
    max-width: 1366px;
    height: 641px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.banner-content {
    max-width: 948px;
    height: 553px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.profile-image {
    width: 228px;
    height: 228px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.banner-content h1 {
    color: rgb(13, 19, 33);
    font-size: 46px;
    font-weight: 800;
    line-height: 65px;
}

.banner-content p {
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.contact-button button {
    width: 198px;
    height: 50px;
    border-radius: 7px;
    background: rgb(13, 19, 33);
}

.contact-button button > a {
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
}
/* header section ends here */

/* main section starts here */
.why-web {
    width: 1083px;
    height: 1325px;

    margin: 76px auto;
    border-radius: 15px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.why-web > h1 {
    color: rgb(13, 19, 33);
    font-size: 30px;
    font-weight: 800;
    line-height: 35px;
}

.why-web > p {
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
 
.why-web-content {
    width: 899px;
    height: 319px;

    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 46px;
}

.middle {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 46px;
}

.my-content {
    width: 453px;
    height: 209px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my-content > h2 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 23px;
    font-weight: 700;
    line-height: 34px;
}

.my-content > p {
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.my-content > button {
    width: 143px;
    height: 46px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;    
}

.my-content > button > a {
    color: rgb(13, 19, 33);
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;    
    text-decoration: none;
}

.my-picture {
    width: 247px;
    height: 206px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.my-picture > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.my-inspiration {
    width: 1083px;
    height: 738px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.my-inspiration > h1 {
    color: rgb(13, 19, 33);
    font-size: 30px;
    font-weight: 800;
    line-height: 35px;
}

.my-inspiration > p {
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.video-container {
    width: 1083px;
    height: 583px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container iframe {
    width: 1022px;
    height: 523px;
    border-radius: 15px;
}

.my-current-target {
    width: 1083px;
    height: 439px;
    margin: 142px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.my-current-target > h1 {
    color: rgb(13, 19, 33);
    font-size: 30px;
    font-weight: 800;
    line-height: 35px;
}

.my-current-target > p {
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    padding: 0 40px;
}

.technologies {
    width: 1083px;
    height: 285px;
    display: flex;
    justify-content: space-between;
}

.technologies .technology {
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    text-align: start;
    padding: 0 38px;
}

.technology > p {
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.technology > h2 {
    color: rgb(13, 19, 33);
    font-size: 23px;
    font-weight: 800;
    line-height: 34px;
}

.technology > a {
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
}

.html {
    border-radius: 15px;
    background: rgba(255, 76, 30, 0.05);
}

.css {
    border-radius: 15px;
    background: rgba(0, 76, 232, 0.05);
}

.js {
    border-radius: 15px;
    background: rgba(255, 223, 0, 0.05);
}

.need-support {
    width: 1083px;
    height: 298px;
    border-radius: 15px;
    background-image: linear-gradient(
            180deg, rgb(16, 16, 16) -19.5%,rgba(0, 0, 0, 0.2) 40%
        ),
        linear-gradient(
            0deg, rgb(16, 16, 16) -19.5%,rgba(0, 0, 0, 0.2) 40%
        ),
        url('/assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.support-content {
    width: 992px;
    height: 177px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.support-content h1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
}

.support-content p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.support-content input[type='text'] {
    width: 521px;
    height: 54px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;    
    background: rgb(255, 255, 255);
}

.support-content input[type='text']::placeholder {
    color: rgba(13, 19, 33, 0.4);
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    padding-left: 20px;
}

.support-content button {
    width: 114px;
    height: 55px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.support-content button > a {
    color: rgb(13, 19, 33);
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
}

/* main section ends here */

/* footer section starts here */
footer {
    max-width: 1366px;
    height: 95px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 76px;
}

.footer-content {
    width: 1083px;
    display: flex;
}

.footer-commitment {
    width: 80%;
    display: flex;
    align-items: center;
}

.footer-commitment > h2 {
    color: rgb(13, 19, 33);
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;
}

.footer-images {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 23px;
}
/* footer section ends here */
